@use "sass:math";

@import "../vars/vars.scss";
@import "../header/header.scss";
@import "../footer/footer.scss";
@import "../itemBox/itemBox.scss";
@import "../modal/modal.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      position: fixed;
      top: 0;
      @include header();
    }
    main {
      margin: 0 auto;
      margin-top: $header-height;
      @media only screen and (max-width: 767px) {
        margin-top: $header-height * 0.5;
      }
      width: $site-width;
      min-height: $section-height;
      @include flex-vertical();
      justify-content: flex-start;
      background-color: $color-white;
      .hero {
        margin: 0 auto;
        width: $block-width;
        height: $block-height;
        @media only screen and (max-width: 1023px) {
          margin-bottom: 20px;
          width: $site-width;
          height: 40vh;
        }
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (max-width: 1023px) {
          @include flex-vertical();
        }
        background-color: $color-grey-dark;
        &__block {
          min-width: 50%;
          height: 100%;
          @include flex-vertical();
          &__heading {
            margin: 0 auto;
            margin-top: 10px;
            width: 100%;
            height: 50%;
            @include flex-vertical();
            &__content {
              margin: 0;
              margin-left: 40px;
              margin-bottom: 20px;
              width: 60%;
              @include text-font(22px, 300, 30px, 0%);
              color: $color-white;
              @media only screen and (max-width: 376px) {
                margin-bottom: 0;
                width: 80%;
                @include text-font(18px, 400, 22px, 0%);
              }
            }
            &__button {
              margin: 0;
              margin-top: 40px;
              margin-left: 40px;
              width: 30%;
              height: $input-height;
              @include text-font(16px, 300, 16px, 0%);
              color: $color-white;
              background-color: $color-primary;
              border: none;
              cursor: pointer;
              @media only screen and (max-width: 376px) {
                margin-top: 20px;
                width: 50%;
              }
            }
            &__button:hover {
              background-color: $color-grey-middle;
              color: $color-primary-dark;
            }
            &__button:focus {
              background-color: $color-grey-middle;
              color: $color-primary-dark;
            }
          }
          &__text {
            margin: 0 auto;
            width: 100%;
            height: 50%;
            @include flex-vertical();
            &__content {
              margin: 0;
              margin-left: 40px;
              width: 60%;
              @include text-font(16px, 300, 24px, 0%);
              color: $color-white;
              @media only screen and (max-width: 376px) {
                width: 80%;
                @include text-font(16px, 300, 20px, 0%);
              }
            }
          }
        }
        &__slide {
          max-width: 50%;
          height: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          @media only screen and (max-width: 1023px) {
            display: none;
          }
          .slide-img {
            margin: 0 auto;
            height: 100%;
          }
        }
      }
      .features {
        margin: 0 auto;
        width: $block-width;
        min-height: $section-info-height;
        @include flex-horizontal();
        justify-content: space-between;
        &__block {
          width: 100%;
          @include flex-vertical();
          &__heading {
            margin: 0 auto;
            @media only screen and (max-width: 1023px) {
              margin-bottom: 20px;
            }
            width: 100%;
            height: 35%;
            @include flex-vertical();
            &__content {
              margin: 0 auto;
              width: 100%;
              @include text-font(18px, 400, 18px, 0%);
              color: $color-primary-dark;
              text-align: center;
            }
          }
          &__items {
            margin: 0 auto;
            width: 100%;
            height: 65%;
            @include flex-horizontal();
            justify-content: space-between;
            @media only screen and (max-width: 767px) {
              height: auto;
              @include flex-vertical();
            }
            .feature-box {
              width: 23%;
              @media only screen and (max-width: 767px) {
                margin-bottom: 20px;
                padding: 10px;
                width: 100%;
                border: 1px solid $color-grey-middle;
              }
              height: 100%;
              @include flex-vertical();
              justify-content: flex-start;
              &__image {
                width: fit-content;
              }
              &__heading {
                margin-top: 20px;
                @include text-font(16px, 400, 16px, 0%);
                color: $color-primary-dark;
              }
              &__content {
                margin-top: 20px;
                @include text-font(14px, 400, 22px, 0%);
                color: $color-primary-dark;
              }
            }
          }
        }
      }
      .arrivals {
        margin: 0 auto;
        width: $block-width;
        min-height: $section-height * $coeff;
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          min-height: auto;
          height: auto;
        }
        &__block {
          width: 100%;
          height: fit-content;
          @include flex-vertical();
          &__heading {
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px;
            @media only screen and (max-width: 1023px) {
              margin-top: 0;
            }
            width: 100%;
            height: fit-content;
            @include flex-vertical();
            justify-content: flex-start;
            &__content {
              margin: 0 auto;
              width: 100%;
              @include text-font(18px, 400, 18px, 0%);
              color: $color-primary-dark;
              text-align: left;
              @media only screen and (max-width: 767px) {
                text-align: center;
              }
            }
          }
          &__items {
            margin: 0 auto;
            margin-bottom: 40px;
            @media only screen and (max-width: 1023px) {
              margin-bottom: 20px;
            }
            width: 100%;
            height: fit-content;
            @include flex-horizontal();
            justify-content: space-between;
            @media only screen and (max-width: 767px) {
              flex-wrap: wrap;
            }

            .first {
              margin-left: 0;
            }
          }
        }
      }
      .popular {
        margin: 0 auto;
        width: $block-width;
        min-height: $section-height * $coeff;
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          min-height: auto;
          height: auto;
        }
        &__block {
          width: 100%;
          height: fit-content;
          @include flex-vertical();
          &__heading {
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px;
            @media only screen and (max-width: 1023px) {
              margin-top: 0;
            }
            width: 100%;
            height: fit-content;
            @include flex-vertical();
            justify-content: flex-start;
            &__content {
              margin: 0 auto;
              width: 100%;
              @include text-font(18px, 400, 18px, 0%);
              color: $color-primary-dark;
              text-align: left;
              @media only screen and (max-width: 767px) {
                text-align: center;
              }
            }
          }
          &__items {
            margin: 0 auto;
            margin-bottom: 40px;
            width: 100%;
            height: fit-content;
            @include flex-horizontal();
            justify-content: space-between;
            @media only screen and (max-width: 767px) {
              margin-bottom: 0;
              flex-wrap: wrap;
            }
            .first {
              margin-left: 0;
            }
          }
        }
      }
      .feedback {
        margin: 0 auto;
        width: $block-width;
        min-height: $section-info-height;
        @include flex-vertical();
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          min-height: auto;
          height: auto;
        }
        &__heading {
          margin: 0 auto;
          width: 100%;
          height: fit-content;
          @include text-font(26px, 400, 26px, 0%);
          color: $color-primary-dark;
          text-align: center;
        }
        &__content {
          margin: 0 auto;
          margin-top: 20px;
          width: 50%;
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
          height: fit-content;
          @include text-font(16px, 400, 16px, 0%);
          color: $color-primary-dark;
          text-align: center;
        }
        &__form {
          margin: 0 auto;
          margin-top: 20px;
          width: 50%;
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
          height: fit-content;
          .subscribe {
            margin-bottom: 20px;
            width: 100%;
            height: 100%;
            @include flex-vertical();
            justify-content: flex-start;
            &__input-box {
              margin-top: 10px;
              width: 100%;
              height: $input-height;
              @include flex-horizontal();
              &__input {
                width: 80%;
                @media only screen and (max-width: 767px) {
                  width: 65%;
                }
                padding-left: 10px;
                @include text-font(16px, 300, 16px, 5%);
                color: $color-grey-light;
                background-color: $color-white;
                border: 1px solid $color-grey-light;
              }
              &__input:focus {
                border: none;
                outline: $color-primary-dark;
                color: $color-primary-dark;
                background-color: $color-grey-middle;
              }
              &__button {
                width: 20%;
                @media only screen and (max-width: 767px) {
                  width: 35%;
                }
                @include text-font(16px, 300, 16px, 5%);
                color: $color-white;
                background-color: $color-primary-dark;
                border: 1px solid $color-primary-dark;
                cursor: pointer;
              }
              &__button:hover {
                background-color: $color-grey-middle;
              }
              &__button:focus {
                background-color: $color-grey-middle;
              }
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
