@use "sass:math";

@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

@mixin header {
  margin: 0 auto;
  width: 100%;
  height: $header-height;
  @media only screen and (max-width: 767px) {
    height: $header-height * 0.5;
  }
  @include flex-vertical();
  justify-content: space-between;
  background-color: $color-white;
  .header-block {
    margin: 0 auto;
    width: 100%;
    height: 50%;
    @media only screen and (max-width: 767px) {
      height: 100%;
    }
    @include flex-vertical();
    border-bottom: 1px solid $color-grey-light;
    &__box {
      margin: 0 auto;
      width: 100%;
      height: 40%;
      @include flex-horizontal();
      &__search {
        margin: 0 auto;
        width: 40%;
        height: 100%;
        @include flex-horizontal();
        justify-content: flex-start;
        .menu {
          margin-left: 20px;
          @include flex-vertical();
          position: relative;
          @media only screen and (min-width: 768px) {
            display: none;
          }
          .menu-icon {
            @include flex-vertical();
            text-align: right;
            text-decoration: none;
            @include text-font(14px, 400, 14px, 0%);
            color: $color-grey-dark;
            cursor: pointer;
          }
          .button-open {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            img {
              margin: 0 auto;
            }
          }
          .menu-content {
            margin: 0;
            margin-top: 5px;
            width: 90vw;
            position: absolute;
            left: -5px;
            top: $header-height * 0.15;
            float: left;
            @include flex-vertical();
            display: none;
            border: none;
            background-color: rgba($color: $color-grey-dark, $alpha: 0.9);
            z-index: 99;
            .menu-close {
              width: 100%;
              @include flex-horizontal();
              justify-content: flex-end;
              .button-close {
                padding: 10px 10px 10px 0;
                @include text-font(16px, 400, 16px, 0%);
                color: $color-orange;
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
              }
            }
            .search-mini-box {
              padding-left: 10px;
              width: 90%;
              height: $input-height * 0.5;
              @include flex-horizontal();
              justify-content: flex-start;
              .search-input {
                margin: 0;
                width: 90%;
                height: 100%;
                border: none;
                outline: $color-grey-light;
              }
              .search-input:focus {
                border: 1px solid $color-grey;
                background-color: $color-grey-light;
                outline: $color-grey;
                display: block;
              }
              .search-button {
                margin: 0;
                width: 10%;
                height: 100%;
                @include flex-vertical();
                @include flex-horizontal();
                background-color: $color-white;
                border: none;
                outline: none;
                cursor: pointer;
                img {
                  margin: 0 auto;
                }
              }
            }
            .menu-item {
              margin-top: 10px;
              padding-left: 10px;
              text-decoration: none;
              text-align: left;
              @include text-font(16px, 300, 16px, 0%);
              color: $color-white;
            }
            .last {
              margin-bottom: 20px;
            }
            .menu-item:hover {
              font-weight: 400;
              color: $color-orange;
            }
          }
        }
        .menu:hover .menu-content {
          @include flex-vertical();
          display: flex;
        }
        .menu:active .menu-content {
          @include flex-vertical();
          display: inline-flex;
        }
        .search-box {
          margin-left: 20px;
          width: 80%;
          @include flex-horizontal();
          justify-content: space-between;
          position: relative;
          @media only screen and (max-width: 767px) {
            display: none;
          }
          &__link {
            @include flex-vertical();
            text-align: right;
            text-decoration: none;
            @include text-font(14px, 400, 14px, 0%);
            color: $color-grey-dark;
            cursor: pointer;
          }
          &__input {
            margin: 0 auto;
            margin-left: 20px;
            padding-left: 10px;
            position: absolute;
            top: 0;
            left: 0;
            width: 90%;
            height: 100%;
            outline: $color-grey-light;
            display: none;
          }
          &__input:focus {
            border: 1px solid $color-grey;
            background-color: $color-grey-light;
            outline: $color-grey;
            display: block;
          }
        }
        .search-box:hover .search-box__input {
          display: inline-flex;
        }
      }
      &__logo {
        margin: 0 auto;
        width: 20%;
        height: 100%;
        @include flex-vertical();
        cursor: pointer;
        &__image {
          margin: 0 auto;
          height: auto;
        }
      }
      &__services {
        margin: auto;
        width: 40%;
        height: 100%;
        @include flex-horizontal();
        justify-content: flex-end;
        .services-link {
          margin-right: 20px;
          @include flex-vertical();
          text-align: right;
          text-decoration: none;
          @include text-font(14px, 400, 14px, 0%);
          color: $color-grey-dark;
          cursor: pointer;
        }
        .cart-btn {
          margin-right: 20px;
          height: auto;
          @include flex-horizontal();
          align-items: center;
          cursor: pointer;
          .cart-num {
            position: absolute;
            background-color: $color-orange;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            @include flex-horizontal();
            align-items: center;
            color: $color-white;
            @include text-font(14px, 500, 14px, 0%);
            top: 2px;
            @media only screen and (max-width: 767px) {
              width: 14px;
              height: 14px;
              @include text-font(12px, 400, 12px, 0%);
            }
          }
        }
      }
    }
  }
  .categories-box {
    margin: 0 auto;
    width: 100%;
    height: 48%;
    @include flex-vertical();
    @media only screen and (max-width: 767px) {
      display: none;
    }
    .categories {
      margin: 0 auto;
      width: 100%;
      height: 30%;
      @include flex-horizontal();
      &__link {
        margin-left: 20px;
        @include flex-vertical();
        text-decoration: none;
        text-align: center;
        @include text-font(16px, 300, 16px, 0%);
        color: $color-grey-dark;
        cursor: pointer;
      }
      &__link:hover {
        color: $color-grey;
        font-weight: 400;
      }
      .first {
        margin-left: 0;
        color: $color-primary;
      }
    }
  }
}

header {
  @include header();
}
