@use "sass:math";

@import "../vars/vars.scss";
@import "../header/header.scss";
@import "../footer/footer.scss";
@import "../itemBox/itemBox.scss";
@import "../modal/modal.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $site-width;
      min-height: $section-height;
      @include flex-vertical();
      justify-content: flex-start;
      background-color: $color-white;
      .product {
        margin: 0 auto;
        margin-top: 40px;
        width: $block-width;
        min-height: $block-height;
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
          @include flex-vertical();
        }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          min-height: auto;
          height: auto;
        }
        background-color: $color-white;
        &__slide {
          width: 50%;
          height: $block-height;
          @include flex-horizontal();
          justify-content: flex-end;
          @media only screen and (max-width: 767px) {
            width: 100%;
            height: auto;
          }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            height: auto;
          }
          img {
            margin: 0 auto;
            width: 100%;
          }
        }
        &__block {
          width: 50%;
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
          @include flex-vertical();
          &__heading {
            margin: 0 auto;
            margin-top: 10px;
            width: 100%;
            height: 50%;
            @include flex-vertical();
            &__content {
              margin: 0;
              margin-left: 40px;
              margin-bottom: 20px;
              width: 60%;
              @include text-font(22px, 300, 30px, 0%);
              color: $color-primary-dark; // $color-white;
              @media only screen and (max-width: 767px) {
                margin-left: 0;
              }
            }
          }
          &__text {
            margin: 0 auto;
            width: 100%;
            height: 50%;
            @media only screen and (max-width: 767px) {
              height: auto;
            }
            @include flex-vertical();
            &__heading {
              margin: 0;
              margin-left: 40px;
              width: 90%;
              @include text-font(16px, 300, 24px, 0%);
              color: $color-primary-dark;
              @media only screen and (max-width: 767px) {
                margin-left: 0;
              }
            }
            &__content {
              margin: 0;
              margin-top: 20px;
              margin-left: 40px;
              width: 90%;
              @include text-font(14px, 300, 24px, 0%);
              color: $color-primary-dark;
              @media only screen and (max-width: 767px) {
                margin-left: 0;
                width: 100%;
              }
            }
            &__properties {
              margin: 0;
              margin-top: 20px;
              margin-left: 60px;
              width: 90%;
              @include text-font(14px, 300, 24px, 0%);
              color: $color-primary-dark;
              @media only screen and (max-width: 767px) {
                margin-left: 40px;
              }
            }
          }
          &__purchase {
            margin: 0;
            margin-top: 20px;
            margin-left: 40px;
            width: 90%;
            height: $input-height;
            @include flex-horizontal();
            justify-content: space-between;
            @media only screen and (max-width: 767px) {
              margin-left: 0;
              width: 100%;
            }
            &__heading-box {
              margin: 0 auto;
              width: 20%;
              height: inherit;
              @include flex-vertical();
              &__heading {
                margin: 0;
                @include text-font(16px, 300, 24px, 0%);
                color: $color-primary-dark;
              }
            }
            &__counter-box {
              margin: 0 auto;
              width: 40%;
              height: inherit;
              @include flex-vertical();
              .counter {
                margin: 0 auto;
                width: 75%;
                height: fit-content;
                vertical-align: middle;
                @include flex-horizontal();
                &__minus {
                  width: 25%;
                  @include text-font(16px, 300, 20px, 0%);
                  color: $color-primary-dark;
                  background: none;
                  border: none;
                  cursor: pointer;
                }
                &__value {
                  width: 50%;
                  @include text-font(16px, 300, 20px, 0%);
                  text-align: center;
                  color: $color-primary-dark;
                  border: none;
                }
                &__plus {
                  width: 25%;
                  @include text-font(16px, 300, 20px, 0%);
                  color: $color-primary-dark;
                  background: none;
                  border: none;
                  cursor: pointer;
                }
              }
            }
            &__button {
              margin: 0;
              width: 40%;
              height: inherit;
              @include text-font(16px, 300, 16px, 0%);
              color: $color-white;
              background-color: $color-primary;
              border: none;
              cursor: pointer;
            }
            &__button:hover {
              background-color: $color-grey-middle;
              color: $color-primary-dark;
            }
            &__button:focus {
              background-color: $color-grey-middle;
              color: $color-primary-dark;
            }
          }
        }
      }
      .suggest {
        margin: 0 auto;
        margin-top: 40px;
        width: $block-width;
        min-height: $section-height * $coeff;
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (max-width: 1023px) {
          margin-top: 0;
          min-height: auto;
          height: auto;
        }
        &__block {
          width: 100%;
          height: fit-content;
          @include flex-vertical();
          &__heading {
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px;
            width: 100%;
            height: fit-content;
            @include flex-vertical();
            justify-content: flex-start;
            &__content {
              margin: 0 auto;
              width: 100%;
              @include text-font(18px, 400, 18px, 0%);
              color: $color-primary-dark;
              text-align: left;
              @media only screen and (max-width: 767px) {
                text-align: center;
              }
            }
          }
          &__items {
            margin: 0 auto;
            margin-bottom: 40px;
            width: 100%;
            height: fit-content;
            @include flex-horizontal();
            justify-content: space-between;
            @media only screen and (max-width: 767px) {
              margin-bottom: 20px;
              flex-wrap: wrap;
            }
            .first {
              margin-left: 0;
            }
          }
        }
      }
      .features {
        margin: 0 auto;
        margin-top: 40px;
        width: $block-width;
        min-height: $section-info-height;
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (max-width: 1023px) {
          margin-top: 0;
          height: auto;
        }
        &__block {
          width: 100%;
          @include flex-vertical();
          @media only screen and (max-width: 767px) {
            height: auto;
            justify-content: space-between;
          }
          &__heading {
            margin: 0 auto;
            width: 100%;
            height: 35%;
            @include flex-vertical();
            &__content {
              margin: 0 auto;
              width: 100%;
              @include text-font(18px, 400, 18px, 0%);
              color: $color-primary-dark;
              text-align: center;
            }
          }
          &__items {
            margin: 0 auto;
            width: 100%;
            height: 65%;
            @include flex-horizontal();
            justify-content: space-between;
            @media only screen and (max-width: 767px) {
              height: auto;
              flex-wrap: wrap;
            }
            .feature-box {
              width: 23%;
              height: 100%;
              @include flex-vertical();
              justify-content: flex-start;
              @media only screen and (max-width: 767px) {
                margin-top: 20px;
                padding: 10px;
                width: 100%;
                height: auto;
                border: 1px solid $color-grey-middle;
              }
              &__image {
                width: fit-content;
              }
              &__heading {
                margin-top: 20px;
                @include text-font(16px, 400, 16px, 0%);
                color: $color-primary-dark;
              }
              &__content {
                margin-top: 20px;
                @include text-font(14px, 400, 22px, 0%);
                color: $color-primary-dark;
              }
            }
          }
        }
      }
      .feedback {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: $block-width;
        min-height: $section-info-height;
        @include flex-vertical();
        @media only screen and (max-width: 1023px) {
          margin-top: 0;
          margin-bottom: 0;
          height: auto;
        }
        &__heading {
          margin: 0 auto;
          width: 100%;
          height: fit-content;
          @include text-font(26px, 400, 26px, 0%);
          color: $color-primary-dark;
          text-align: center;
        }
        &__content {
          margin: 0 auto;
          margin-top: 20px;
          width: 50%;
          @media only screen and (max-width: 767px) {
            width: 90%;
          }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            width: 70%;
          }
          height: fit-content;
          @include text-font(16px, 400, 16px, 0%);
          color: $color-primary-dark;
          text-align: center;
        }
        &__form {
          margin: 0 auto;
          margin-top: 20px;
          width: 50%;
          height: fit-content;
          @media only screen and (max-width: 767px) {
            width: 100%;
          }
          @media only screen and (min-width: 768px) and (max-width: 1023px) {
            width: 70%;
          }
          .subscribe {
            margin-bottom: 20px;
            width: 100%;
            height: 100%;
            @include flex-vertical();
            justify-content: flex-start;
            @media only screen and (max-width: 767px) {
              margin-bottom: 0;
            }
            &__input-box {
              margin-top: 10px;
              width: 100%;
              height: $input-height;
              @include flex-horizontal();
              &__input {
                width: 80%;
                padding-left: 10px;
                @include text-font(16px, 300, 16px, 5%);
                color: $color-grey-light;
                background-color: $color-white;
                border: 1px solid $color-grey-middle;
                @media only screen and (max-width: 767px) {
                  width: 70%;
                }
              }
              &__input:focus {
                border: none;
                outline: $color-primary-dark;
                color: $color-primary-dark;
                background-color: $color-grey-middle;
              }
              &__button {
                width: 20%;
                @include text-font(16px, 300, 16px, 5%);
                color: $color-white;
                background-color: $color-primary-dark;
                border: 1px solid $color-primary-dark;
                cursor: pointer;
                @media only screen and (max-width: 767px) {
                  width: 30%;
                }
              }
              &__button:hover {
                background-color: $color-grey-middle;
              }
              &__button:focus {
                background-color: $color-grey-middle;
              }
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
.lock {
  overflow-y: hidden;
}
