<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="../styles/footer/footer.css" />
  </head>
  <body>
    <footer>
      <div class="footer-block">
        <div class="footer-block__box">
          <nav class="menu" name="menu">
            <p class="menu__heading">Menu</p>
            <a class="menu__link" href="#">New arrivals</a>
            <a class="menu__link" href="#">Best sellers</a>
            <a class="menu__link" href="#">Recently viewed</a>
            <a class="menu__link" href="#">Popular this week</a>
            <a class="menu__link" href="#">All products</a>
          </nav>
          <nav class="menu" name="categories">
            <p class="menu__heading">Categories</p>
            <a class="menu__link" href="#">Crockery</a>
            <a class="menu__link" href="#">Furniture</a>
            <a class="menu__link" href="#">Homeware</a>
            <a class="menu__link" href="#">Plant pots</a>
            <a class="menu__link" href="#">Chairs</a>
            <a class="menu__link" href="#">Other</a>
          </nav>
          <nav class="menu" name="about">
            <p class="menu__heading">Our company</p>
            <a class="menu__link" href="#">About us</a>
            <a class="menu__link" href="#">Vacancies</a>
            <a class="menu__link" href="#">Contact us</a>
            <a class="menu__link" href="#">Privacy</a>
            <a class="menu__link" href="#">Returns policy</a>
          </nav>
          <section class="subscribe" name="subscribe">
            <p class="subscribe__heading">Join our mailing list</p>
            <div class="subscribe__input-box">
              <input
                class="subscribe__input-box__input"
                type="email"
                placeholder="your@email.com"
              />
              <button class="subscribe__input-box__button">Sign up</button>
            </div>
          </section>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-bottom__box">
          <div class="footer-bottom__box__copyrights">
            <p class="footer-bottom__box__copyrights__text">
              &#169;&nbsp;Ihanaa LTD. All rights reserved
            </p>
          </div>
          <div class="footer-bottom__box__socials">
            <div class="socials-box">
              <a class="socials-box__link" href="#"
                ><img src="../assets/icons/socials/linkedin.png" alt="in"
              /></a>
              <a class="socials-box__link" href="#"
                ><img src="../assets/icons/socials/facebook.png" alt="face"
              /></a>
              <a class="socials-box__link" href="#"
                ><img src="../assets/icons/socials/instagram.png" alt="inst"
              /></a>
              <a class="socials-box__link" href="#"
                ><img src="../assets/icons/socials/skype.png" alt="skype"
              /></a>
              <a class="socials-box__link" href="#"
                ><img src="../assets/icons/socials/twitter.png" alt="twit"
              /></a>
              <a class="socials-box__link" href="#"
                ><img src="../assets/icons/socials/pinterest.png" alt="pint"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
