<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link rel="stylesheet" href="../styles/header/header.css" />
  </head>
  <body>
    <header>
      <div class="header-block">
        <div class="header-block__box">
          <div class="header-block__box__search">
            <div class="menu">
              <a class="menu__burger" href="#"
                ><img src="../assets/icons/burger.png" alt="burger"
              /></a>
              <div class="menu__content">
                <a class="menu__content__link" href="#">New arrivals</a>
                <a class="menu__content__link" href="#">Best sellers</a>
                <a class="menu__content__link" href="#">Recently viewed</a>
                <a class="menu__content__link" href="#">Popular this week</a>
                <a class="menu__content__link last" href="catalog.html"
                  >All products</a
                >
              </div>
            </div>
            <div class="search-box">
              <a class="search-box__link" href="#"
                ><img src="../assets/icons/search.png" alt="search"
              /></a>
              <input
                class="search-box__input"
                type="text"
                placeholder="Search"
              />
            </div>
          </div>
          <div class="header-block__box__logo">
            <a class="header-block__box__logo__image" href="index.html"
              ><img src="../assets/logo/logo.png" alt="logo"
            /></a>
          </div>
          <div class="header-block__box__services">
            <a
              class="services-link cart-btn"
              id="cartBtn"
              href="../pages/cart.html"
              title="Cart"
              target="_blank"
              ><img src="../assets/icons/cart.png" alt="cart" />
              <div class="cart-num" id="cartBtnNum">0</div></a
            >
            <a class="services-link" href="#"
              ><img src="../assets/icons/user.png" alt="user" />
            </a>
          </div>
        </div>
      </div>
      <nav>
        <div class="categories">
          <a class="categories__link first" href="#">All products</a>
          <a class="categories__link" href="#">Plant pots</a>
          <a class="categories__link" href="#">Ceramics</a>
          <a class="categories__link" href="#">Tablets</a>
          <a class="categories__link" href="#">Chairs</a>
          <a class="categories__link" href="#">Crockery</a>
          <a class="categories__link" href="#">Tableware</a>
          <a class="categories__link" href="#">Cutlery</a>
        </div>
      </nav>
    </header>
  </body>
</html>
