@use "sass:math";

@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

@mixin footer {
  margin: 0 auto;
  width: 100%;
  height: $footer-height;
  @media only screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
  }
  @include flex-vertical();
  background-color: $color-primary-dark;
  //border: 2px solid green;
  .footer-block {
    margin: 0 auto;
    width: 100%;
    height: 80%;
    @include flex-vertical();
    border-bottom: 1px solid $color-grey;
    &__box {
      margin: 0 auto;
      width: $block-width;
      height: 70%;
      @include flex-horizontal();
      @media only screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
      .menu {
        margin: 0 auto;
        width: 20%;
        @media only screen and (max-width: 767px) {
          margin: 0;
          width: 48%;
        }
        height: 100%;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          @include text-font(16px, 300, 16px, 5%);
          color: $color-white;
        }
        &__link {
          margin-top: 10px;
          text-align: left;
          text-decoration: none;
          @include text-font(14px, 300, 14px, 0%);
          color: $color-white;
        }
      }
      .subscribe {
        width: 40%;
        @media only screen and (max-width: 767px) {
          margin-top: 20px;
          margin-bottom: 20px;
          width: 100%;
        }
        height: 100%;
        @include flex-vertical();
        justify-content: flex-start;
        &__heading {
          @include text-font(16px, 300, 16px, 5%);
          color: $color-white;
        }
        &__input-box {
          margin-top: 10px;
          width: 100%;
          height: $input-height;
          @include flex-horizontal();
          &__input {
            width: 80%;
            @media only screen and (max-width: 767px) {
              width: 65%;
            }
            padding-left: 10px;
            @include text-font(16px, 300, 16px, 5%);
            color: $color-grey-light;
            background-color: $color-primary;
            border: $color-primary-dark;
          }
          &__input:focus {
            border: none;
            outline: $color-primary-dark;
            color: $color-primary-dark;
            background-color: $color-grey-light;
          }
          &__button {
            width: 20%;
            @media only screen and (max-width: 767px) {
              width: 35%;
            }
            @include text-font(16px, 300, 16px, 5%);
            color: $color-primary-dark;
            background-color: $color-white;
            border: 1px solid $color-primary-dark;
            cursor: pointer;
          }
          &__button:hover {
            background-color: $color-grey-middle;
          }
          &__button:focus {
            background-color: $color-grey-middle;
          }
        }
      }
    }
  }
  .footer-bottom {
    margin: 0 auto;
    @media only screen and (max-width: 767px) {
      margin-top: 20px;
    }
    width: 100%;
    height: 20%;
    @include flex-vertical();
    &__box {
      margin: 0 auto;
      width: $block-width;
      height: 40%;
      @include flex-horizontal();
      justify-content: space-between;
      @media only screen and (max-width: 767px) {
        @include flex-vertical();
      }
      &__copyrights {
        @include flex-vertical();
        &__text {
          margin: 0 auto;
          @include text-font(14px, 300, 14px, 0%);
          color: $color-white;
        }
      }
      &__socials {
        @include flex-vertical();
        @media only screen and (max-width: 767px) {
          margin-top: 20px;
        }
        .socials-box {
          margin: 0 auto;
          @include flex-horizontal();
          @media only screen and (max-width: 767px) {
            width: 80%;
            justify-content: space-evenly;
          }
          &__link {
            margin: 0 auto;
            margin-left: 10px;
            @include flex-vertical();
            img {
              margin: 0 auto;
            }
            img:hover {
              background-color: $color-grey;
            }
          }
          &__link:active {
            background-color: $color-grey;
          }
        }
      }
    }
  }
}

footer {
  @include footer();
}
