@use "sass:math";

@import "../vars/vars.scss";
@import "../header/header.scss";
@import "../footer/footer.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $site-width;
      min-height: $section-height;
      @include flex-vertical();
      justify-content: flex-start;
      background-color: $color-white;
      .cart {
        margin: 0 auto;
        margin-top: 40px;
        width: $block-width;
        min-height: $section-height * $coeff;
        @include flex-horizontal();
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
          margin-top: 20px;
        }
        .cart-block {
          width: 100%;
          height: fit-content;
          @include flex-vertical();
          .crumbs {
            margin: 0;
            max-width: $block-width;
            @include flex-horizontal();
            justify-content: flex-start;
            flex-wrap: wrap;
            &__link {
              text-decoration: none;
              text-align: left;
              @include text-font(14px, 300, 14px, 0%);
              color: $color-grey-dark;
            }
            &__link:hover {
              text-decoration: underline;
            }
            &__link:last-child {
              font-weight: 400;
            }
          }
          .cart-heading {
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px;
            @media only screen and (max-width: 767px) {
              margin-top: 20px;
              margin-bottom: 0;
            }
            width: 100%;
            height: fit-content;
            @include flex-vertical();
            justify-content: flex-start;
            &__content {
              margin: 0 auto;
              width: 100%;
              @include text-font(18px, 400, 18px, 0%);
              color: $color-primary-dark;
              text-align: left;
            }
          }
          .cart-titles {
            margin: 0 auto;
            margin-top: 40px;
            width: 100%;
            @include flex-horizontal();
            justify-content: flex-end;
            &__point {
              color: $color-grey-dark;
            }
            &__point:first-child {
              width: 40%;
            }
            &__point:nth-child(2) {
              width: 15%;
              text-align: center;
              @media only screen and (max-width: 767px) {
                display: none;
              }
            }
            &__point:nth-child(3) {
              width: 20%;
              text-align: center;
              @media only screen and (max-width: 767px) {
                width: 25%;
              }
            }
            &__point:nth-child(4) {
              padding-right: 10px;
              width: 20%;
              text-align: right;
              @media only screen and (max-width: 767px) {
                width: 25%;
                text-align: center;
              }
            }
            &__point:last-child {
              width: 5%;
              text-align: right;
            }
          }
          .cart-list {
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 40px;
            width: 100%;
            height: fit-content;
            @include flex-vertical();
            justify-content: center;
            @media only screen and (max-width: 767px) {
              margin-bottom: 0;
            }
            .cart-item {
              margin: 0 auto;
              margin-top: 10px;
              width: 100%;
              height: $cart-item-height;
              @include flex-horizontal();
              justify-content: space-between;
              border: 1px solid $color-grey-middle;
              border-radius: 2px;
              .product-box {
                width: 40%;
                height: inherit;
                @include flex-horizontal();
                justify-content: flex-start;
                .image-box {
                  margin: 0;
                  height: $cart-item-height;
                  @include flex-vertical();
                  @media only screen and (max-width: 767px) {
                    display: none;
                  }
                  img {
                    height: $cart-item-height;
                  }
                }
                .name-box {
                  margin: 0;
                  margin-left: 10px;
                  width: auto;
                  @include flex-vertical();
                  &__name {
                    @include text-font(20px, 400, 20px, 0%);
                    text-align: left;
                    color: $color-grey-dark;
                  }
                  &__resume {
                    margin-top: 10px;
                    @include text-font(14px, 300, 14px, 0%);
                    text-align: left;
                    color: $color-grey-dark;
                  }
                }
              }

              .price-box {
                margin: 0 auto;
                width: 15%;
                height: inherit;
                @include flex-vertical();
                @include text-font(20px, 300, 20px, 0%);
                color: $color-grey-dark;
                @media only screen and (max-width: 767px) {
                  display: none;
                }
                .price-origin-box {
                  margin: 0 auto;
                  width: 100%;
                  @include flex-horizontal();
                  //display: none;
                  .price-origin {
                    //margin: 0 auto;
                    @include text-font(18px, 300, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-grey;
                  }
                  .currency {
                    //margin: 0 auto;
                    margin-left: 10px;
                    @include text-font(18px, 300, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: center;
                    color: $color-grey;
                  }
                }
                .price-active-box {
                  margin: 0 auto;
                  width: 100%;
                  @include flex-horizontal();
                  .price-active {
                    @include text-font(20px, 400, 20px, 0%);
                    text-align: center;
                    color: $color-grey-dark;
                  }
                  .currency {
                    margin-left: 10px;
                    @include text-font(20px, 400, 20px, 0%);
                    text-align: center;
                    color: $color-grey-dark;
                  }
                }
              }
              .counter-box {
                margin: 0 auto;
                width: 20%;
                height: inherit;
                @include flex-vertical();
                .counter {
                  margin: 0 auto;
                  width: 75%;
                  height: fit-content;
                  vertical-align: middle;
                  @include flex-horizontal();
                  .counter-minus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-grey-dark;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-value {
                    width: 50%;
                    @include text-font(20px, 300, 20px, 0%); // font-mix();
                    text-align: center;
                    color: $color-grey-dark;
                    //background-color: $color-background;
                    border: none;
                  }
                  .counter-plus {
                    width: 25%;
                    @include text-font(22px, 300, 22px, 0%);
                    color: $color-grey-dark;
                    background: none;
                    border: none;
                    cursor: pointer;
                  }
                  .counter-minus:hover {
                    color: $color-orange;
                  }
                  .counter-plus:hover {
                    color: $color-orange;
                  }
                }
              }

              .total-box {
                margin: 0 auto;
                width: 20%;
                height: inherit;
                @include flex-vertical();
                @include text-font(20px, 300, 20px, 0%);
                color: $color-grey-dark;
                .total-origin-box {
                  margin: 0 auto;
                  width: 100%;
                  @include flex-horizontal();
                  justify-content: flex-end;
                  //display: none;
                  .total-origin {
                    padding-right: 10px;
                    @include text-font(18px, 300, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: right;
                    color: $color-grey;
                  }
                  .currency {
                    padding-right: 10px;
                    @include text-font(18px, 300, 18px, 0%);
                    font-style: italic;
                    text-decoration: line-through;
                    text-align: right;
                    color: $color-grey;
                  }
                }
                .total-active-box {
                  margin: 0 auto;
                  width: 100%;
                  @include flex-horizontal();
                  justify-content: flex-end;
                  .total-active {
                    padding-right: 10px;
                    @include text-font(18px, 400, 18px, 0%); // font-price();
                    text-align: right;
                    color: $color-grey-dark;
                  }
                  .currency {
                    padding-right: 10px;
                    @include text-font(18px, 400, 18px, 0%); // font-price();
                    text-align: right;
                    color: $color-grey-dark;
                  }
                }
              }
              .button-box {
                margin: 0 auto;
                width: 5%;
                height: 100%;
                @include flex-vertical();
                @include text-font(20px, 300, 20px, 0%);
                color: $color-grey-dark;
                .button-show {
                  margin: 0 auto;
                  padding: 0;
                  height: auto;
                  background: none;
                  border: none;
                  cursor: pointer;
                }
                .button-delete {
                  margin: 0 auto;
                  padding: 0;
                  height: auto;
                  background: none;
                  border: none;
                  cursor: pointer;
                }
              }
            }
            .first {
              margin-left: 0;
            }
          }
          .cart-total {
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
            width: 100%;
            min-height: $input-height;
            @include flex-horizontal();
            justify-content: flex-end;
            .total-block {
              margin: 0;
              width: 35%;
              min-height: $input-height;
              @include flex-vertical();
              @media only screen and (max-width: 767px) {
                width: 100%;
              }
              .total-input {
                margin: 0;
                width: 100%; // auto;
                height: fit-content;
                @include flex-horizontal();
                justify-content: flex-end;
                align-items: flex-end;
                .total-label {
                  margin-right: 20px;
                  @include text-font(18px, 300, 18px, 0%);
                  color: $color-grey-dark;
                }
                .total-value {
                  margin-top: 10px;
                  padding: 0;
                  height: fit-content;
                  @include text-font(20px, 400, 20px, 0%);
                  text-align: right;
                  color: $color-grey-dark;
                  border: none;
                }
                .total-currency {
                  margin-left: 10px;
                  @include text-font(20px, 400, 20px, 0%);
                  font-weight: 300;
                  color: $color-grey-dark;
                }
              }
              .info {
                margin-top: 20px;
                @include text-font(12px, 400, 12px, 0%);
                color: $color-primary;
                text-align: right;
              }
              .total-button {
                margin: 0;
                margin-top: 20px;
                width: 100%;
                min-height: $button-height;
                @include flex-horizontal();
                justify-content: flex-end;
                align-self: flex-end;
                .button-apply {
                  padding: 0 20px 0 20px;
                  width: fit-content;
                  height: $button-height;
                  @include text-font(20px, 300, 20px, 0%);
                  color: $color-white;
                  background-color: $color-primary-dark;
                  border: none;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
