@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.item-box {
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 25%;
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  border: 1px solid #d9d9d9;
}
.item-box__image {
  width: 100%;
  height: auto;
}
.item-box__heading {
  margin-top: 10px;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #2a254b;
}
.item-box__bottom-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: center;
}
.item-box__bottom-box .stores {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.item-box__bottom-box .stores .price {
  padding: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #2a254b;
}
.item-box__bottom-box .stores .to-cart {
  padding-left: 5px;
  padding-right: 5px;
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  color: #1b767d;
  cursor: pointer;
  box-sizing: border-box;
}
.item-box__bottom-box .stores .to-cart:hover {
  border: 1px solid #4e4d93;
  color: #4e4d93;
}
.item-box__heading:hover {
  color: #726e8d;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.43);
  z-index: 10;
  display: none;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.modal__block {
  margin: 0 auto;
  width: 65%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-around;
  overflow: auto;
  position: relative;
  border-radius: 2px;
  background-color: #fff;
}
.modal__block__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  color: #726e8d;
  cursor: pointer;
  border: none;
  background-color: #fff;
  opacity: 1;
  z-index: 999;
}
.modal__block__close:hover {
  color: #1b767d;
}
.modal__block__items {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #2a254b;
}
.modal__block__items .product {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 2px;
  background-color: #fff;
  overflow-y: auto;
}
.modal__block__items .product__image-box {
  margin: 0;
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.modal__block__items .product__image-box__image {
  margin: 0;
  width: auto;
  height: 100%;
}
.modal__block__items .product__text-box {
  margin: 0;
  height: 100%;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-around;
}
.modal__block__items .product__text-box__heading {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #4e4d93;
  text-align: left;
}
.modal__block__items .product__text-box__resume {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
}
.modal__block__items .product__text-box__resume .product-resume {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #4e4d93;
  text-align: left;
}
.modal__block__items .product__text-box__price-box {
  margin: 0 auto;
  margin-top: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.modal__block__items .product__text-box__price-box .product-price-origin {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  color: #4e4d93;
}
.modal__block__items .product__text-box__price-box .product-price-active {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  color: #2a254b;
}
.modal__block__items .product__text-box__button-box {
  margin: 10px auto;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.modal__block__items .product__text-box__button-box .to-product-page {
  padding: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #4e4d93;
  font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid #4e4d93;
}
.modal__block__items .product__text-box__button-box .to-cart {
  padding: 5px;
  background: none;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #1b767d;
  cursor: pointer;
  box-sizing: border-box;
}
.modal__block__items .product__text-box__button-box .to-cart:hover {
  border: 1px solid #4e4d93;
  color: #4e4d93;
}
.modal--open {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-grow: 1;
}
.wrapper .top header {
  margin: 0 auto;
  width: 100%;
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #fff;
}
.wrapper .top header .header-block {
  margin: 0 auto;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ebe8f4;
}
.wrapper .top header .header-block__box {
  margin: 0 auto;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block__box__search {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top header .header-block__box__search .menu {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}
.wrapper .top header .header-block__box__search .menu__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #22202e;
  cursor: pointer;
}
.wrapper .top header .header-block__box__search .menu__content {
  margin: 0;
  margin-top: 5px;
  width: 200px;
  position: absolute;
  left: -5px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: none;
  border: none;
  background-color: #fff;
  z-index: 99;
}
.wrapper .top header .header-block__box__search .menu__content__link {
  margin-top: 10px;
  padding-left: 10px;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #2a254b;
}
.wrapper .top header .header-block__box__search .menu__content .last {
  margin-bottom: 20px;
}
.wrapper .top header .header-block__box__search .menu__content__link:hover {
  font-weight: 400;
  color: #726e8d;
}
.wrapper .top header .header-block__box__search .menu__burger:hover .wrapper .top header .header-block__box__search .menu__content {
  display: block;
}
.wrapper .top header .header-block__box__search .menu:hover .menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  display: inline-flex;
}
.wrapper .top header .header-block__box__search .search-box {
  margin-left: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}
.wrapper .top header .header-block__box__search .search-box__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #22202e;
  cursor: pointer;
}
.wrapper .top header .header-block__box__search .search-box__input {
  margin: 0 auto;
  margin-left: 20px;
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  outline: #ebe8f4;
  display: none;
}
.wrapper .top header .header-block__box__search .search-box__input:focus {
  border: 1px solid #726e8d;
  background-color: #ebe8f4;
  outline: #726e8d;
  display: block;
}
.wrapper .top header .header-block__box__search .search-box:hover .search-box__input {
  display: inline-flex;
}
.wrapper .top header .header-block__box__logo {
  margin: 0 auto;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}
.wrapper .top header .header-block__box__logo__image {
  margin: 0 auto;
  height: auto;
}
.wrapper .top header .header-block__box__services {
  margin: auto;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .header-block__box__services .services-link {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
  color: #22202e;
  cursor: pointer;
}
.wrapper .top header .header-block__box__services .cart-btn {
  margin-right: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
}
.wrapper .top header .header-block__box__services .cart-btn .cart-num {
  position: absolute;
  background-color: #eb9a21;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0%;
  top: 10px;
}
.wrapper .top header nav {
  margin: 0 auto;
  width: 100%;
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header nav .categories {
  margin: 0 auto;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header nav .categories__link {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0%;
  color: #22202e;
  cursor: pointer;
}
.wrapper .top header nav .categories__link:hover {
  color: #726e8d;
  font-weight: 400;
}
.wrapper .top header nav .categories .first {
  margin-left: 0;
}
.wrapper .top main {
  margin: 0 auto;
  width: 100%;
  min-height: 704px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  background-color: #fff;
}
.wrapper .top main .catalog-slide {
  margin: 0 auto;
  width: 100%;
  height: 209px;
  background-image: url(../../assets/images/image-6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.wrapper .top main .catalog-slide__heading {
  margin: auto;
  width: 88.8888888889%;
  position: absolute;
  left: 5.5555555556%;
  bottom: 40px;
}
.wrapper .top main .catalog-slide__heading__text {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.wrapper .top main .catalog {
  margin: 0 auto;
  margin-top: 40px;
  width: 88.8888888889%;
  min-height: 38.5vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .catalog__block {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .catalog__block__heading {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top main .catalog__block__heading__content {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .catalog__block__heading__content__text {
  width: 85%;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  color: #2a254b;
  text-align: left;
}
.wrapper .top main .catalog__block__heading__content__services {
  margin: 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top main .catalog__block__heading__content__services .service-block {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.wrapper .top main .catalog__block__heading__content__services .service-block__service {
  background: none;
  border: none;
}
.wrapper .top main .catalog__block__heading__content__services .service-block__content {
  width: 500%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background: none;
  border: none;
  position: absolute;
  left: -200%;
  top: 100%;
  border: 1px solid green;
  display: none;
}
.wrapper .top main .catalog__block__heading__content__services .service-block:hover {
  background-color: #d9d9d9;
}
.wrapper .top main .catalog__block__heading__content__services .service-block:hover .service-block__content {
  display: inline-flex;
}
.wrapper .top main .catalog__block__items {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wrapper .top main .catalog__block__items .first {
  margin-left: 0;
}
.wrapper footer {
  margin: 0 auto;
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #2a254b;
}
.wrapper footer .footer-block {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #726e8d;
}
.wrapper footer .footer-block__box {
  margin: 0 auto;
  width: 88.8888888889%;
  height: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block__box .menu {
  margin: 0 auto;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-block__box .menu__heading {
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 5%;
  color: #fff;
}
.wrapper footer .footer-block__box .menu__link {
  margin-top: 10px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #fff;
}
.wrapper footer .footer-block__box .subscribe {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-block__box .subscribe__heading {
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 5%;
  color: #fff;
}
.wrapper footer .footer-block__box .subscribe__input-box {
  margin-top: 10px;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block__box .subscribe__input-box__input {
  width: 80%;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 5%;
  color: #ebe8f4;
  background-color: #4e4d93;
  border: #2a254b;
}
.wrapper footer .footer-block__box .subscribe__input-box__input:focus {
  border: none;
  outline: #2a254b;
  color: #2a254b;
  background-color: #ebe8f4;
}
.wrapper footer .footer-block__box .subscribe__input-box__button {
  width: 20%;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 5%;
  color: #2a254b;
  background-color: #fff;
  border: 1px solid #2a254b;
  cursor: pointer;
}
.wrapper footer .footer-block__box .subscribe__input-box__button:hover {
  background-color: #d9d9d9;
}
.wrapper footer .footer-block__box .subscribe__input-box__button:focus {
  background-color: #d9d9d9;
}
.wrapper footer .footer-bottom {
  margin: 0 auto;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom__box {
  margin: 0 auto;
  width: 88.8888888889%;
  height: 40%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-bottom__box__copyrights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom__box__copyrights__text {
  margin: 0 auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0%;
  color: #fff;
}
.wrapper footer .footer-bottom__box__socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom__box__socials .socials-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom__box__socials .socials-box__link {
  margin: 0 auto;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-bottom__box__socials .socials-box__link img {
  margin: 0 auto;
}
.wrapper footer .footer-bottom__box__socials .socials-box__link img:hover {
  background-color: #726e8d;
}
.wrapper footer .footer-bottom__box__socials .socials-box__link:active {
  background-color: #726e8d;
}

.lock {
  overflow-y: hidden;
}/*# sourceMappingURL=catalogAlt.css.map */