@use "sass:math";

@import "../vars/vars.scss";

* {
  margin: 0;
  padding: 0;
}
// .item-box {
//   width: $item-width;
//   height: $item-height;
//   border: 1px solid red;
// }
.item-box {
  margin-left: 10px;
  width: $item-width;
  height: $item-height;
  @include flex-vertical();
  justify-content: flex-start;
  border: 1px solid red;
  &__image {
    width: 100%;
    height: auto;
  }
  &__heading {
    margin-top: 10px;
    text-decoration: none;
    text-align: left;
    @include text-font(16px, 400, 16px, 0%);
    color: $color-primary-dark;
  }
  &__price {
    margin-top: 20px;
    @include text-font(16px, 400, 24px, 0%);
    color: $color-primary-dark;
  }
  &__heading:hover {
    color: $color-grey;
    font-weight: 400;
  }
}

.modal {
  margin: 0 auto;
  display: none;
  position: fixed; // relative; // fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;

  &__content {
    //margin: 0 auto;
    //position: absolute;
    background-color: #fff;
    margin: 20vh auto; // 100px auto;
    padding: 20px;
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    span {
      cursor: pointer;
    }
  }
}
