@use "sass:math";

@import "../vars/vars.scss";
@import "../itemBox/itemBox.scss";
@import "../modal/modal.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      margin: 0 auto;
      width: 100%;
      height: $header-height;
      @include flex-vertical();
      justify-content: space-between;
      background-color: $color-white;
      .header-block {
        margin: 0 auto;
        width: 100%;
        height: 50%;
        @include flex-vertical();
        border-bottom: 1px solid $color-grey-light;
        &__box {
          margin: 0 auto;
          width: 100%;
          height: 40%;
          @include flex-horizontal();
          &__search {
            margin: 0 auto;
            width: 40%;
            height: 100%;
            @include flex-horizontal();
            justify-content: flex-start;
            .menu {
              margin-left: 20px;
              @include flex-vertical();
              position: relative;
              &__burger {
                @include flex-vertical();
                text-align: right;
                text-decoration: none;
                @include text-font(14px, 400, 14px, 0%);
                color: $color-grey-dark;
                cursor: pointer;
              }
              &__content {
                margin: 0;
                margin-top: 5px;
                width: 200px;
                position: absolute;
                left: -5px;
                top: 20px;
                @include flex-vertical();
                display: none;
                border: none;
                background-color: $color-white;
                z-index: 99;
                &__link {
                  margin-top: 10px;
                  padding-left: 10px;
                  text-decoration: none;
                  text-align: left;
                  @include text-font(14px, 300, 14px, 0%);
                  color: $color-primary-dark;
                }
                .last {
                  margin-bottom: 20px;
                }
                &__link:hover {
                  font-weight: 400;
                  color: $color-grey;
                }
              }
              &__burger:hover &__content {
                display: block;
              }
            }
            .menu:hover .menu__content {
              @include flex-vertical();
              display: inline-flex;
            }
            .search-box {
              margin-left: 20px;
              width: 80%;
              @include flex-horizontal();
              justify-content: space-between;
              position: relative;
              &__link {
                //margin: 0;
                //margin-left: 20px;
                @include flex-vertical();
                text-align: right;
                text-decoration: none;
                @include text-font(14px, 400, 14px, 0%);
                color: $color-grey-dark;
                cursor: pointer;
              }
              &__input {
                margin: 0 auto;
                margin-left: 20px;
                padding-left: 10px;
                position: absolute;
                top: 0;
                left: 0;
                width: 90%;
                height: 100%;
                outline: $color-grey-light;
                display: none;
              }
              &__input:focus {
                border: 1px solid $color-grey;
                background-color: $color-grey-light;
                outline: $color-grey;
                display: block;
              }
            }
            .search-box:hover .search-box__input {
              display: inline-flex;
            }
          }
          &__logo {
            margin: 0 auto;
            width: 20%;
            height: 100%;
            @include flex-vertical();
            cursor: pointer;
            &__image {
              margin: 0 auto;
              height: auto;
            }
          }
          &__services {
            margin: auto;
            width: 40%;
            height: 100%;
            @include flex-horizontal();
            justify-content: flex-end;
            &__link {
              margin-right: 20px;
              @include flex-vertical();
              text-align: right;
              text-decoration: none;
              @include text-font(14px, 400, 14px, 0%);
              color: $color-grey-dark;
              cursor: pointer;
            }
          }
        }
      }
      nav {
        margin: 0 auto;
        width: 100%;
        height: 48%; // 50%;
        @include flex-vertical();
        .categories {
          margin: 0 auto;
          width: 100%;
          height: 30%;
          @include flex-horizontal();
          &__link {
            margin-left: 20px;
            @include flex-vertical();
            text-decoration: none;
            text-align: center;
            @include text-font(16px, 300, 16px, 0%);
            color: $color-grey-dark;
            cursor: pointer;
          }
          &__link:hover {
            color: $color-grey;
            font-weight: 400;
          }
          .first {
            margin-left: 0;
          }
        }
      }
    }
    main {
      margin: 0 auto;
      width: $site-width;
      min-height: $section-height;
      @include flex-vertical();
      justify-content: flex-start;
      background-color: $color-white;
      .catalog-slide {
        margin: 0 auto;
        width: $site-width;
        height: $catalog-slide-height;
        background-image: url(../../assets/images/image-6.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &__heading {
          margin: auto;
          width: $block-width;
          //border: 1px solid yellow;
          position: absolute;
          left: $catalog-slide-heading-left;
          bottom: 40px;
          &__text {
            color: $color-white;
            @include text-font(22px, 300, 22px, 0%);
            text-align: left;
          }
        }
      }
      .catalog {
        margin: 0 auto;
        margin-top: 40px;
        width: $block-width;
        min-height: $section-height * $coeff;
        @include flex-horizontal();
        justify-content: space-between;
        &__block {
          width: 100%;
          height: fit-content;
          @include flex-vertical();
          &__heading {
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px;
            width: 100%;
            height: fit-content;
            @include flex-vertical();
            justify-content: flex-start;
            &__content {
              margin: 0 auto;
              width: 100%;
              @include flex-horizontal();
              justify-content: space-between;
              &__text {
                width: 85%;
                @include text-font(18px, 400, 18px, 0%);
                color: $color-primary-dark;
                text-align: left;
              }
              &__services {
                margin: 0 auto;
                width: 15%;
                height: auto;
                @include flex-horizontal();
                justify-content: flex-end;
                .service-block {
                  position: relative;
                  margin-left: 20px;
                  // background: none;
                  // border: none;
                  cursor: pointer;
                  &__service {
                    background: none;
                    border: none;
                  }
                  &__content {
                    width: 500%;
                    @include flex-vertical();
                    background: none;
                    border: none;
                    position: absolute;
                    left: -200%;
                    top: 100%;
                    border: 1px solid green;
                    display: none;
                  }
                }
                .service-block:hover {
                  background-color: $color-grey-middle;
                }
                .service-block:hover .service-block__content {
                  display: inline-flex;
                }
              }
            }
          }
          &__items {
            margin: 0 auto;
            margin-bottom: 40px;
            width: 100%;
            height: fit-content;
            @include flex-horizontal();
            justify-content: flex-start;
            flex-wrap: wrap;
            .first {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  footer {
    margin: 0 auto;
    width: 100%;
    height: $footer-height;
    @include flex-vertical();
    background-color: $color-primary-dark;
    .footer-block {
      margin: 0 auto;
      width: 100%;
      height: 80%;
      @include flex-vertical();
      border-bottom: 1px solid $color-grey;
      &__box {
        margin: 0 auto;
        width: $block-width;
        height: 70%;
        @include flex-horizontal();
        .menu {
          margin: 0 auto;
          width: 20%;
          height: 100%;
          @include flex-vertical();
          justify-content: flex-start;
          &__heading {
            @include text-font(16px, 300, 16px, 5%);
            color: $color-white;
          }
          &__link {
            margin-top: 10px;
            text-align: left;
            text-decoration: none;
            @include text-font(14px, 300, 14px, 0%);
            color: $color-white;
          }
        }
        .subscribe {
          width: 40%;
          height: 100%;
          @include flex-vertical();
          justify-content: flex-start;
          &__heading {
            @include text-font(16px, 300, 16px, 5%);
            color: $color-white;
          }
          &__input-box {
            margin-top: 10px;
            width: 100%;
            height: $input-height;
            @include flex-horizontal();
            &__input {
              width: 80%;
              padding-left: 10px;
              @include text-font(16px, 300, 16px, 5%);
              color: $color-grey-light;
              background-color: $color-primary;
              border: $color-primary-dark;
            }
            &__input:focus {
              border: none;
              outline: $color-primary-dark;
              color: $color-primary-dark;
              background-color: $color-grey-light;
            }
            &__button {
              width: 20%;
              @include text-font(16px, 300, 16px, 5%);
              color: $color-primary-dark;
              background-color: $color-white;
              border: 1px solid $color-primary-dark;
              cursor: pointer;
            }
            &__button:hover {
              background-color: $color-grey-middle;
            }
            &__button:focus {
              background-color: $color-grey-middle;
            }
          }
        }
      }
    }
    .footer-bottom {
      margin: 0 auto;
      width: 100%;
      height: 20%;
      @include flex-vertical();
      &__box {
        margin: 0 auto;
        width: $block-width;
        height: 40%;
        @include flex-horizontal();
        justify-content: space-between;
        &__copyrights {
          @include flex-vertical();
          &__text {
            margin: 0 auto;
            @include text-font(14px, 300, 14px, 0%);
            color: $color-white;
          }
        }
        &__socials {
          @include flex-vertical();
          .socials-box {
            margin: 0 auto;
            @include flex-horizontal();
            &__link {
              margin: 0 auto;
              margin-left: 10px;
              @include flex-vertical();
              img {
                margin: 0 auto;
              }
              img:hover {
                background-color: $color-grey;
              }
            }
            &__link:active {
              background-color: $color-grey;
            }
          }
        }
      }
    }
  }
}
.lock {
  overflow-y: hidden;
}
