@use "sass:math";

@import "../vars/vars.scss";
@import "../header/header.scss";
@import "../footer/footer.scss";
@import "../itemBox/itemBox.scss";
@import "../modal/modal.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: $site-height;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: $site-width;
    height: auto;
    @include flex-vertical();
    justify-content: flex-start;
    flex-grow: 1;
    header {
      @include header();
    }
    main {
      margin: 0 auto;
      width: $site-width;
      min-height: $section-height;
      @include flex-vertical();
      justify-content: flex-start;
      background-color: $color-white;
      .catalog-slide {
        margin: 0 auto;
        width: $site-width;
        height: $catalog-slide-height;
        background-image: url(../../assets/images/image-6.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        &__heading {
          margin: auto;
          width: $block-width;
          //border: 1px solid yellow;
          position: absolute;
          left: $catalog-slide-heading-left;
          bottom: 40px;
          &__text {
            color: $color-white;
            @include text-font(22px, 300, 22px, 0%);
            text-align: left;
          }
        }
      }
      .catalog {
        margin: 0 auto;
        margin-top: 40px;
        width: $block-width;
        min-height: $section-height * $coeff;
        @include flex-horizontal();
        justify-content: space-between;
        //border: 1px solid red;
        &__block {
          width: 100%;
          height: fit-content;
          @include flex-vertical();

          &__heading {
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px;
            width: 100%;
            height: fit-content;
            @include flex-vertical();
            justify-content: flex-start;
            &__content {
              margin: 0 auto;
              width: 100%;
              @include flex-horizontal();
              justify-content: space-between;
              &__text {
                width: 85%;
                @include text-font(18px, 400, 18px, 0%);
                color: $color-primary-dark;
                text-align: left;
              }
              &__services {
                margin: 0 auto;
                width: 15%;
                height: auto;
                @include flex-horizontal();
                justify-content: flex-end;
                .service-block {
                  position: relative;
                  margin-left: 20px;
                  // background: none;
                  // border: none;
                  cursor: pointer;
                  &__service {
                    background: none;
                    border: none;
                  }
                  &__content {
                    width: 500%;
                    @include flex-vertical();
                    background: none;
                    border: none;
                    position: absolute;
                    left: -200%;
                    top: 100%;
                    border: 1px solid green;
                    display: none;
                  }
                }
                .service-block:hover {
                  background-color: $color-grey-middle;
                }
                .service-block:hover .service-block__content {
                  display: inline-flex;
                }
              }
            }
          }
          &__items {
            margin: 0 auto;
            margin-bottom: 40px;
            width: 100%;
            height: fit-content; // auto; // fit-content;
            @include flex-horizontal();
            justify-content: space-evenly; // space-between; // flex-start;
            flex-wrap: wrap;
            //border: 1px solid red;
            .first {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  footer {
    @include footer();
  }
}
.lock {
  overflow-y: hidden;
}
